@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Android';
    src: url("idroid.otf") format("opentype");
}
:root {
    --fonte-padrão: 'Bebas Neue', cursive;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #C5EBD6;
    margin: auto;
    
}

header {    
    background-image: linear-gradient(to bottom, #08b455,  #0c2e1b);
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
header > h1 {
    font-family: var(--fonte-padrão);
    font-size: 3em;
    font-weight: normal;        
    color: white;
    margin-bottom: 20px; 
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);  
}
header > h2 {
    max-width: 500px;
    font-size: 1em;
    font-weight: lighter;    
    text-align: center;    
    color: white;       
    padding-bottom: 50px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5); 
    
}
nav {
    text-align: left;
    padding-bottom: 15px;
    padding-left: 10px;
        
}
nav > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    padding: 5px;
    color: #84E1AD;
    
}
nav > a:hover {
    background-color: #068d437e;  
    border-radius: 10px;


}
main {
    max-width: 950px;
    background-color: white;    
    margin: auto; 
    padding: 20px; 
    padding-top: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 40px;
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.39);
    
    
}
main > article > h1 {
    font-family: "Android";
    font-size: 1.85em;
    font-weight: normal;
    color: rgb(1, 54, 1); 
    padding-left: 10px; 
    padding-top: 20px; 
     
}
main > article > h2 {
    font-family: "Android";
    font-size: 1.3em;
    font-weight: normal;
    color: rgb(1, 54, 1); 
    padding-left: 10px;    
    background-image: linear-gradient(to right, #84E1AD, white);
}
main > article > p { 
    font-size: 1em; 
    text-align: justify;  
    text-indent: 20px;
    line-height: 30px;    
    padding: 30px;   
}
footer {
    font-size: 12px;
    background-color: #063D1E;
    color: white;
    text-align: center;
    border: 1px solid black;
    padding: 3px;
}
.bottom {
    text-align: justify;
    background-color: #83E1AD;
    border: 1px solid transparent;
    border-radius: 10px;
    margin: auto;

}
.bottom > h2 {
    font-size: 1.3em;
    font-weight: bolder;
    background-color: #1A5C37;
    color: white;
    border-radius: 10px 10px 0px 0px ;
    padding-left: 15px;
    padding: 10px;
}
.bottom > p {
    font-size: 0.95em;    
    text-indent: 15px;
    line-height: 1.5em;
    padding: 15px;
        
}
.final {
    text-align: justify;
    text-indent: 15px;
    padding: 10px;
}